@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* Custom prints layout */
@media print {
  body * {
    visibility: hidden;
  }
  #main_content_viewport, #main_content_viewport * {
    visibility: visible;
  }
  #sidebar_nav, #ledger_filters, button {
    display: none !important;
  }
  #main_content_viewport {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
